div.active-number:hover .step-button {
  visibility: visible;
}
.active-number {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.active-number button {
  visibility: hidden;
  padding : 3px;
}

.value {
  padding: 4px 0px;
}

.value p {
  padding: 0px 10px;
  margin: 0px;
}
