.html5-progress-bar {
    align-self: center;
    flex: 1;
    /*padding: 15px 15px;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, .2);*/
}
.html5-progress-bar progress {
    background-color: #f3f3f3;
    border: 1px solid #838384;
    height: 18px;
    width: 100%;
    border-radius:7px;
}

.html5-progress-bar progress::-webkit-progress-value {
    border-radius: 7px;
}

.html5-progress-bar progress::-moz-progress-bar {
    border-radius: 7px;
}


.html5-progress-bar progress[value^="0"]::-webkit-progress-value,
.html5-progress-bar progress[value^="1"]::-webkit-progress-value{
   background-color: #bfdb7d;;
}


.html5-progress-bar progress[value^="0"]::-moz-progress-bar,
.html5-progress-bar progress[value^="1"]::-moz-progress-bar{
    background-color: #bfdb7d;
}

.html5-progress-bar progress[value^="2"]::-webkit-progress-value,
.html5-progress-bar progress[value^="3"]::-webkit-progress-value,
.html5-progress-bar progress[value^="4"]::-webkit-progress-value{
     background-color: #f7a867;
}

.html5-progress-bar progress[value^="2"]::-moz-progress-bar,
.html5-progress-bar progress[value^="3"]::-moz-progress-bar,
.html5-progress-bar progress[value^="4"]::-moz-progress-bar{
     background-color: #f7a867;
}

.html5-progress-bar progress[value^="5"]::-moz-progress-bar,
.html5-progress-bar progress[value^="6"]::-moz-progress-bar,
.html5-progress-bar progress[value^="7"]::-moz-progress-bar,
.html5-progress-bar progress[value^="8"]::-moz-progress-bar,
.html5-progress-bar progress[value^="9"]::-moz-progress-bar,
.html5-progress-bar progress[value="100"]::-moz-progress-bar{
    background-color: #f76767;
}

.html5-progress-bar progress[value^="5"]::-webkit-progress-value,
.html5-progress-bar progress[value^="6"]::-webkit-progress-value,
.html5-progress-bar progress[value^="7"]::-webkit-progress-value,
.html5-progress-bar progress[value^="8"]::-webkit-progress-value,
.html5-progress-bar progress[value^="9"]::-webkit-progress-value,
.html5-progress-bar progress[value="100"]::-webkit-progress-value{
    background-color: #f76767;
}

.html5-progress-bar progress[value="1"]::-webkit-progress-value,
.html5-progress-bar progress[value="2"]::-webkit-progress-value,
.html5-progress-bar progress[value="3"]::-webkit-progress-value,
.html5-progress-bar progress[value="4"]::-webkit-progress-value,
.html5-progress-bar progress[value="5"]::-webkit-progress-value,
.html5-progress-bar progress[value="6"]::-webkit-progress-value,
.html5-progress-bar progress[value="7"]::-webkit-progress-value,
.html5-progress-bar progress[value="8"]::-webkit-progress-value,
.html5-progress-bar progress[value="9"]::-webkit-progress-value{
   background-color: #bfdb7d;
}

.html5-progress-bar progress[value="1"]::-moz-progress-bar,
.html5-progress-bar progress[value="2"]::-moz-progress-bar,
.html5-progress-bar progress[value="3"]::-moz-progress-bar,
.html5-progress-bar progress[value="4"]::-moz-progress-bar,
.html5-progress-bar progress[value="5"]::-moz-progress-bar,
.html5-progress-bar progress[value="6"]::-moz-progress-bar,
.html5-progress-bar progress[value="7"]::-moz-progress-bar,
.html5-progress-bar progress[value="8"]::-moz-progress-bar,
.html5-progress-bar progress[value="9"]::-moz-progress-bar{
   background-color: #bfdb7d;
}