.dashboard {
  margin-bottom: 15px;
  width: 100%;
  display: inline-flex;
}

.options {
  flex: 1;
}

.option-single {
  padding: 10px;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}
