.team-table {
  overflow-x:auto;
  margin-top: 25px;
}

.team-table table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.team-table th, td {
  border: none;
  text-align: left;
}

.team-table th {
  padding: 8px;
}

.team-table td {
  padding: 0px 8px;
}

.team-table tr.hoverable:hover {
  background-color: #f7f7f7;
}

.vertically-centered {
  display: inline-block;
  vertical-align: middle;
  align-self: center;
}

.packet-loss-container {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
}

.centered {
  text-align: center;
}

.add-team {
  padding-top: 10px;
}

.alert {
  background: red;
}
.alert td {
  text-align: center;
  font-size: xx-large;
  text-transform: uppercase;
}