body {
  font-family: sans-serif;
  max-width: 1080px;
  margin: 0 auto !important;
  padding: 0;
  float: none !important;
}

.button-white {
  border: 2px solid #647482;
  background: #FFF;
  color: #000;
  cursor: pointer;
  outline: none;
  text-align: center;
  padding: 4px 10px;
  height: 35px;
  border-radius: 3px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
}